/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
 }

 div {
   padding: 0;
   margin: 0;
 }

nav {
  display: flex;
  width: 100%;
  top: 0px;
  height: 80px;
  border-style: solid;
  border-width: 0;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  padding: 0;
  padding-bottom: 0px;
  border-bottom: 1px solid #dddddd
}

nav a img {
  display: block;
  margin: 0 auto;
  padding: 0;
}

nav a {
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: 100;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

footer {
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  align-content: space-around;
  background: black;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 15px;
}

.perk-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px 0 10px 0;
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  max-height: 250px;
  padding: 30px 30px 30px 20px;
  border: 1px solid #a8a8a8;
  justify-content: flex-start;
}

.perk-price {
  flex: 1;
  display: block;
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  max-height: 40px;
}

.perk-price:after {
  margin-left: 8px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
  content: 'USD'
}

.perk-title {
  flex: 1;
  display: block;
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.perk-description {
  flex: 1;
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.perk-get {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0 12px 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 22px;
  color: white;
  background-color: #eb1478;
  visibility: hidden;
}

.perk-card:hover .perk-get, .perk-card:focus .perk-get {
  visibility: visible;
}

.index-main-div {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.footer-section {
}

.footer-subsection {
  flex: 1;
  margin: 5px;
  min-width: 25%;
  padding-bottom: 15px;
}

.footer-subsection > h1 {
  color: #a8a8a8;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

.footer-subsection > a {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  display: block;
  color: #ffffff;
  cursor: pointer;
}

.footer-subsection > a:hover, .footer-subsection > a:focus {
  text-decoration: underline;
}

.footer-subsection > input[type=email] {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  width: 50%;
  height: 30px;
  padding: 5px 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  height: 42px;
}

.SocialMediaShareButton {
  cursor: pointer;
  margin-bottom: 12px;
}

.social-svg-mask {
  fill: #eb1478 !important;
}

.social-svg-mask:hover, .social-svg-mask:focus {
  fill: #fa1681 !important;
}

.social-svg-icon {
  fill: white !important;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 18px;
  margin-right: 6%;
}

.search input {
  width: 250px;
  height: 32px;
  font-size: 18px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.search input { text-indent: 32px;}
.search .fa-search {
  position: absolute;
  top: 8px;
  left: calc(100% - 242px);
}

nav a:hover, nav a:focus {
  color: #eb1478;
}

.start-campaign-nav-button {
  background-color: #eb1478;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 10px 19px 10px;
  padding: 11px 18px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #eb1478;
  padding: 11px 18px;
  border-radius: 2px;
}

.newsletter-signup-button {
  background-color: #eb1478;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  max-width: 35%;
  margin-left: 5px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  border: 2px solid #eb1478;
  padding: 11px 18px;
  border-radius: 2px;
}

.splash-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
}

.splash-title {
  color: white;
  font-weight: bold;
  z-index: 55;
}

.splash-tagline {
  color: white;
  z-index: 55;
}

.splash-action {
  border: 2px solid white;
  color: white;
  font-size: 14px;
  line-height: 14px;
  border-radius: 2px;
  font-weight: 400;
  text-transform: uppercase;
  align-self: flex-end;
  padding: 10px;
  cursor: pointer;
  height: auto;
  margin-right: 15px;
  min-width: 87px;
  text-decoration: none;
  z-index: 55;
}

.splash-action:hover, .splash-action:focus {
  background-color: white;
  color: black;
}

.splash-content-container {
  display: flex;
  position: absolute;
  bottom: 3%;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.splash-loader {
  position: relative;
  top: -130px;
  left: 40%;
}

.splash-content-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
}

.campaign-splash-item {
  flex: 1;
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-size: 100% auto;*/
}

.campaign-splash-item:after {
    content: '\A';
    position: absolute;
		width: 100%;
		height: 100%;
    top:0;
		left:0;
    background:rgba(0,0,0,0.6);
    opacity: .4;
  }

.start-campaign-nav-button:hover, .start-campaign-nav-button:focus {
  background-color: #fa1681;
  color: white;
  border: 2px solid #fa1681;
}

.SessionForm * {
  flex: 1;
  max-height: 40px;
}

.close-button {
  align-self: flex-end;
}

.user-nav-dropdown {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

.user-nav-dropdown a {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
}

.user-nav-dropdown a:hover, .user-nav-dropdown a:focus {
  color: #eb1478;
}

.login-button {
  background-color: #eb1478;
  border: none;
  margin-top: 15px;
  font-family: inherit;
  font-weight: bold;
  color: #ffffff;
  margin-left: 60%;
}

.signup-button {
  background-color: #eb1478;
  border: none;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-left: 45%;
}

.login-button:hover, .SessionForm .login-button:focus {
  background-color: #fa1681;
}

.guest-login-button {
  background-color: #405d9d;
  border: none;
  margin-top: 15px;
  font-family: inherit;
  font-weight: bold;
  color: #ffffff;
}

.guest-login-button:hover, .guest-login-button:focus {
  background-color: #5675ba;
}

.fa:hover, .fa:focus {
  color: #eb1478;
}

.SessionForm p {
  text-align: center;
}
.session-errors {
  flex: 1;
  margin: 1;
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.session-errors li {
  text-align: center;
  flex: 1;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.session-errors p {
  flex: 1;
  color: #a8a8a8;
}

.index-category {
  color: #a8a8a8;
  text-transform: uppercase;
}

.campaign-form-main-div {
  margin: 0;
}

.campaign-form-main-div aside {
  position: fixed;
  background-color: #2a2a2a;
  padding-top: 20px;
  width: 230px;
  height: 100%;
}

.camp-form-content {
  width: calc(100% - 230px);
  margin: 0 0 0 230px;
  padding: 0;
}

.camp-form-content > div > * {
  padding-left: 50px;
  margin: 0;
}

.form-header {
  padding: 30px 50px 5px 50px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}


.camp-form-content > div > h1 {
  padding: 30px 50px 5px 50px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.camp-form-content > div > p {
  padding-top: 0px;
  font-size: 16px;
  font-weight: normal;
  max-width: 620px;
  line-height: 24px;
}

.campaign-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 756px;
}

.campaign-form-field > label {
  margin-top: 60px;
  display: inline-block;
  flex: 1;
  line-height: 24px;
  font-size: 16px;
  min-height: 24px;
  max-height: 24px;
  margin-bottom: 5px;
}

.campaign-form-field > input[type=text], .campaign-form-field > div > input {
  width: 100%;
  border: 1px solid #C8C8C8;
  line-height: 20px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #ffffff;
  height: 38px;
  border-radius: 2px;
  margin: 0;
  font-size: 14px;
}


.campaign-form-field > input[type=text]:focus, .campaign-form-field > div > input:focus {
  border: 1px solid #2a2a2a;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.campaign-form-field > input[type=number] {
  width: 33%;
  border: 1px solid #C8C8C8;
  line-height: 20px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #ffffff;
  height: 38px;
  border-radius: 2px;
  margin: 0;
  font-size: 14px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.campaign-form-field > textarea {
  width: 100%;
  border: 1px solid #C8C8C8;
  line-height: 20px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #ffffff;
  height: 38px;
  border-radius: 2px;
  margin: 0;
  font-size: 14px;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  height: 150px;
}

.campaign-form-field > legend {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #a8a8a8;
  margin: 0 0 10px;
}

.campaign-form-field > select {
  width: 50%;
  border: 1px solid #C8C8C8;
  line-height: 20px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #ffffff;
  height: 38px;
  border-radius: 2px;
  margin: 0;
  font-size: 14px;
}

.campaign-form-field > select > option {
  width: 50%;
  border: 1px solid #C8C8C8;
  line-height: 20px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #ffffff;
  height: 38px;
  border-radius: 2px;
  margin: 0;
  font-size: 14px;
}

.required:after {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  content:" *";
  color: #FF324B;
}

.campaign-form-field-image {
  height: 400px;
  width: 400px;
  border: 1px solid #C8C8C8;
  cursor: pointer;
}

.campaign-form-field-image-label {
  padding-top: 46%;
  padding-left: 30%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.campaign-form-field-image-label > * {
  flex: 1;
  color: #7A69B3;
}

.campaign-form-field-image-label > a {
  padding-left: 8px;
  font-weight: bold;
}

.camera-circle {
  border-radius: 50%;
  background-color: #EEE5F2;
  width: 30px;
  line-height: 30px;
  height: 30px;
  max-height: 30px;
  max-width: 30px;
  text-align: center;
  vertical-align: center;
  /*position:relative;
  top: calc(50% - 10px);
  left: calc(50% - 10px);*/
}

.main-index-slider {
  width: 100%;
  display: inline-flex;
  padding: 1px;
  height: 600px;
}

.campaign-form-main-div > div > nav {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  height: 70px;
  max-height: 70px;
  border-bottom: 1px solid #C8C8C8;
  text-transform: uppercase;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  white-space: nowrap;
  align-items: center;
}

.index-card-arrows {
  font-size: 175px;
  color: #a8a8a8;
  background: transparent;
}

.index-carousel {
  display: flex;
}

.social-buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.social-buttons > a {
  color: white;
  background-color: transparent;
  margin-right: 10px;
}

.campaign-list-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
}

.campaign-list-div > div > .campaign-index-item {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.campaign-index-item-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.campaign-index-item-div .slick-list {
  flex: 1;
  margin: 0;
  padding: 0;
}

.campaign-index-item-div .slick-slide {
  flex: 1;
}

/*.campaign-index-item-div .slick-list .slick-track .slick-slide {
  margin-left: 70px;
  margin-right: 0;
  padding: 0;
}*/

.campaign-index-item {
  flex: 1;
  padding: 0;

  margin-left: 10%;
  min-width: 252px;
  max-width: 252px;
  height: 500px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #a8a8a8;
  cursor: pointer;
}

.campaign-index-loader {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.campaign-index-item p, .campaign-index-item legend {
  padding-left: 3%;
  padding-top: 5px;
}

.campaign-index-photo {
  width: 100%;
  height: 250px;
  display: relative;
  top: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.img-circle {
    border-radius: 50%;
}

.profile-pic {
  max-width: 50px;
  max-height: 50px;
  min-height: 50px;
  flex: 1;
}

.show-progress-bar-outer {
  padding: 0;
  margin: 5px 0 0 0;
  width: 100%;
  background-color: #a8a8a8;
}

.show-progress-bar-inner {
  padding: 10px 0 0 0;
  background-color: #eb1478;
  margin: 0;
}

.creator-box {
  margin-top: 25px;
  display: flex;
  width: 100%;
}

.creator-box-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.creator-details {
  flex: 1;
}

.creator-details-profile {
  flex: 1;
  border: 10px solid #f5f5f5;
  padding: 10px;
  box-sizing: border-box;
}

.creator-details p {
  margin: 5px 0 0 15px;
  padding: 0;
}

.show-pretty-funds {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.show-pretty-funds:after {
  margin-left: 5px;
  font-size: 18px;
  font-weight: normal;
  content: "USD"
}

.in-demand {
  color: #0eb4b6;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
  flex: 1;
  border-bottom: 1px solid #0eb4b6;
  width: 100%;
  max-height: 20px;
}

.show-progress-details {
  margin: 5px 0 0 0;
  display: flex;
  width: 100%;
  line-height: 18px;
  justify-content: space-between;
  height: 30px;
}

.show-progress-details-left {
  margin: 0;
  padding: 0;
  display: inline-block;
  max-width: 50%;
}

.show-progress-details-left p {
  margin: 0;
  display: inline-block;
}

.show-progress-details-right p {
  margin: 0;
  display: inline-block;
}

.show-progress-details-right {
  margin: 0;
  padding: 0;
  display: inline-block;
  max-width: 50%;
}

.campaign-show-hero {
  display: flex;
  padding-top: 80px;
  width: 100%;
  justify-content: center;
}

.profile-show-hero {
  display: flex;
  width: 100%;
  justify-content: center;
}

.campaign-show-main {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  justify-content: center;
}

.profile-show-main {
  display: flex;
  padding-bottom: 40px;
  width: 100%;
  justify-content: center;
}

.campaign-show-main > div > h1 {
  text-transform: uppercase;
  color: #a8a8a8;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #a8a8a8;
}

.campaign-main-left {
  flex: 2;
  max-width: 700px;
  display: flex;
  margin-right: 25px;
  margin-left: 25px;
  flex-direction: column;
}

.campaign-main-right {
  flex: 1;
  max-width: 500px;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  flex-direction: column;
}

.home-slider-lower {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 80px;
    align-items: center;
}

.campaign-show-slider {
  flex: 1;
  width: 100%;
  height: 460px;
}

.campaign-show-right {
  flex: 1.25;
  margin-right: 25px;
  margin-left: 25px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.campaign-show-left {
  flex: 2;
  max-width: 700px;
  display: flex;
  margin-right: 25px;
  margin-left: 25px;
  flex-direction: column;
}

.campaign-show-photo {
  width: 100%;
  height: 460px;
  display: relative;
  top: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-me {
  flex: 1;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.about-me-title {
  margin-left: 25px;
}

.preview-editor-links {
  width: 100%;
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview-editor-links > a {
  flex: 1;
  text-transform: uppercase;
  color: #C8C8C8;
  letter-spacing: 1px;
  min-height: 25px;
  max-height: 25px;
  line-height: 24px;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
}

.preview-editor-links > a:hover, .preview-editor-links > a:focus {
  background-color: #7A69B3;
  color: white;
}

.preview-editor-links > a > i {
  font-size: 22px;
  color: #C8C8C8;
  line-height: 24px;
  position: absolute;
  right: 12px;
}


.above-progress-bar {
  position: absolute;
  bottom: 55px;
  left: 2.5%;
  width: 95%;
  right: 2.5%;
  font-weight: bold;
}

.back-it-bar-number {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;
  margin-bottom: 8px;
}

.back-it-bar {
  flex: 1;
  margin-top: auto;
  display: flex;
  max-height: 50px;
  width: 100%;
  justify-content: space-between;
}

.back-it-bar > a {
  flex: 1;
  text-transform: uppercase;
  align-self: flex-start;
  padding: 10px;
  background-color: #eb1478;
  color: white;
  border: 1px solid #eb1478;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.back-it-bar > a:hover, .back-it-bar > a:focus {
  background-color: #fa1681;
  border: 1px solid #fa1681;
}

.back-it-bar div {
  flex: 1.5;
  margin-left: auto;
  width: auto;
  margin-right: 0;
  align-items: center;
  text-align: right;
}

.back-it-bar div a {
  font-size: 40px;
  margin-left: 10px;
  color: #a8a8a8;
  display: inline-block;
  cursor: pointer;
}

.above-progress-bar:after {
  margin-left: 9px;
  content: "USD";
  font-weight: normal;
}

.below-progress-bar {
  position: absolute;
  bottom: 9px;
  left: 2.5%;
  width: 95%;
  right: 2.5%;
  display: flex;
}

.about-me-subtitle {
  flex: 1;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #a8a8a8;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0;
  font-weight: normal;
  color: #6a6a6a;
}

.about-me-campaigns-tab {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0;
  font-weight: normal;
  color: #6a6a6a;
}

.below-progress-bar div {
  color: #a8a8a8;
  font-size: 13px;
  line-height: 20px;
  flex: 1;
}

.progress-bar-outer {
  position: absolute;
  bottom: 40px;
  left: 2.5%;
  padding: 0;
  width: 95%;
  background-color: #a8a8a8;
}

.progress-bar-inner {
  background-color: #eb1478;
  padding-top: 10px;
}

.active-nav-link {
  color: white;
  font-weight: bold;
  border-left: 7px solid #7A69B3;
  padding-left: 13px !important;
}

.campaign-form-main-div > div > nav > div {
  padding-left: 40px;
}

.campaign-form-main-div > div > nav > a {
  font-size: 14px;
  font-weight: 600;
}

.secondary-nav a, .secondary-nav div {
  font-family: inherit;
  margin: 0;
  padding-top: 22px;
  text-align: center;
}

.dropdown {
    position: relative;
}

.dropdown-content-form {
  position: absolute;
  top: 43px;
  right: 0px;
  left: -16px;
  background-color: white;
  min-width: 160px;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #a8a8a8;
  border-right: 1px solid #a8a8a8;
  z-index: 991;
}

.dropdown-content-form div {
  color: black;
  padding: 12px 16px;
  box-sizing: border-box;
  border-top: 1px solid #a8a8a8;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  background-color: #f5f5f5;
}

.contact-form-p {
  padding-left: 5px;
  line-height: 23px;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.dropdown-content {
  position: absolute;
  top: 51.5px;
  right: 0px;
  left: -20px;
  background-color: white;
  min-width: 160px;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #a8a8a8;
  border-right: 1px solid #a8a8a8;
  z-index: 991;
}


.dropdown-content div {
  color: black;
  padding: 12px 16px;
  box-sizing: border-box;
  border-top: 1px solid #a8a8a8;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content div:hover, .dropdown-content div:focus {color: #eb1478}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-tabs-campaigns-container > div > .campaign-index-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.profile-tabs-campaigns-container > div {
  margin-bottom: 10px;
}

.profile-tabs-campaigns-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-tabs-container {
  border-top: 1px solid #a8a8a8;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.profile-tabs {
  flex: 1;
  display: flex;
  width: 100%;
  max-width: 1250px;
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 30px;
}

.profile-tab-link {
  padding-bottom: 7px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 25px;
  cursor: pointer;

}

.profile-tab-link:hover, .profile-tab-link:active, .profile-tab-link-selected {
  padding-bottom: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 25px;
  color: #eb1478;
  cursor: pointer;
  border-bottom: 2px solid #eb1478;
}

.profile-name {
  font-size: 46px;
  flex: 1;
  width: 100%;
  max-width: 1250px;
}

.secondary-nav > a {
  flex: .25;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #7A69B3;
  margin: 20px 10px 20px 10px;
  padding: 11px 10px 11px 10px;
  text-align: center;
  cursor: pointer;
}

.secondary-nav > a:hover, .secondary-nav > a:focus {
  background-color: #EEE5F2;
}

.secondary-nav div {
  align-self: flex-start;
  text-align: left;
  flex: 1;
  font-size: 22px;
}

.purple-button {
  background-color: #7A69B3;
  flex: .25;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 10px 20px 10px;
  padding: 11px 10px 11px 10px;
  text-align: center;
  cursor: pointer;
}

.purple-button:hover, .purple-button:focus {
  background-color: #6653a5;
}

.pink-button {
  background-color: #eb1478;
  flex: .25;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 10px 20px 10px;
  padding: 11px 10px 11px 10px;
  text-align: center;
  cursor: pointer;
}

.pink-button:hover, .pink-button:focus {
  background-color: #fa1681;
}

.purple-next-button {
  background-color: #7A69B3;
  display: block;
  color: white;
  flex: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  align-self: flex-end;
  align-content: center;
  margin: 40px 0 20px 50px !important;
  padding: 11px 10px 11px 10px !important;
  text-align: center;
  cursor: pointer;
}

.purple-next-button:hover, .purple-button:focus {
  background-color: #6653a5;
}

.purple-text {
  font-size: inherit;
  font-weight: inherit;
  color: #7A69B3;
}

/*.index-card {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 0;
  margin: 0;
  cursor: pointer;
}*/

.annotation-pill-yellow {
  padding: 5px 5px 5px 5px;
  font-family: inherit;
  display: inline-block;
  color: #2a2a2a;
  background-color: #FDDE86;
  border-radius: 2px;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 160px;
  margin-left: 20px;
}

.col {
  float: left;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 0;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.6666%;
}

.col-3-4 {
  width: 75%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3333%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

* {
  min-height: 0;
  min-width: 0;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

.camp-show-creator-name {
  font-weight: bold;
  cursor: pointer;
  margin: 5px 0 0 15px;
  padding: 0;
  text-decoration: none;
  color: black;
}

.camp-show-pitch {
  font-size: 18px;
}

.camp-show-creator-name:hover, .camp-show-creator-name:focus {
  color: #eb1478;
  text-decoration: underline;
}

.sneaky {
  visibility: none;
}

.hidden {
  display: none;
}

/*@media all and (max-width: 900px) {
  [class*='col-'] {
    width: 100%;
  }
}*/
