/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   padding: 0;
   margin: 0;
 }

nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 80px;
  border-style: solid;
  border-width: thin;
  align-items: center;
  justify-content: space-evenly;
}

nav div {
  flex: 1;
  /*height: auto;
  width: auto;
  max-width: 160px;
  max-height: 30px;*/
  cursor: pointer;
  align-content: center;
}

nav div img {
  display: block;
  margin: 0 auto;
}

nav h2 {
  padding: 16px;
  flex: 1;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

nav h2:hover, nav h2:focus {
  color: #eb1478;
}

.SessionForm * {
  flex: 1;
  max-height: 40px;
}

.close-button {
  align-self: flex-end;
}

.nav-session-links {
  flex: 2;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding: none;
  align-items: flex-end;
  justify-content: space-evenly;
}
.nav-session-links div * {
  flex: 1;
  cursor: pointer;
}

.user-nav-dropdown {
  display: flex;
  flex-direction: row;
}

.user-nav-dropdown a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.user-nav-dropdown a:hover, .user-nav-dropdown a:focus {
  color: #eb1478;
}

.login-button {
  background-color: #eb1478;
  border: none;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-left: 60%;
}

.signup-button {
  background-color: #eb1478;
  border: none;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-left: 45%;
}

.login-button:hover, .SessionForm .login-button:focus {
  background-color: #fa1681;
}

.guest-login-button {
  background-color: #405d9d;
  border: none;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.guest-login-button:hover, .guest-login-button:focus {
  background-color: #5675ba;
}

.fa:hover, .fa:focus {
  color: #eb1478;
}

.SessionForm p {
  text-align: center;
}
.session-errors {
  flex: 1;
  margin: 1;
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.session-errors li {
  text-align: center;
  flex: 1;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.session-errors p {
  flex: 1;
  color: #a8a8a8;
}
