/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 0;
  border-style: solid;
  border-width: thin;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  justify-content: center;
}
nav img {
  height: auto;
  width: auto;
  max-width: 160px;
  max-height: 30px;
}
nav * {
  padding: 16px;
  flex: 1;
}
.SessionForm * {
  flex: 1;
  max-height: 40px;
}
